
<mat-stepper orientation="vertical" linear="isLinear" #stepper>
    <mat-step >
        <form >
            <mat-form-field appearance="fill" >
                <mat-label>Room Size</mat-label>
                <mat-select   required>
                  <mat-option *ngFor="let size of RoomSizeArray | keyvalue" value={{size}} (click)="selectSize(size.value.toString())">{{size.value}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
        <h3>Your Size is: {{SelectedSize}}</h3>
    </mat-step>
    
    <mat-step>
        <form>
            <mat-form-field appearance="fill" >
                <mat-label>Room Size</mat-label>
                <mat-select>
                  <mat-option *ngFor="let item of filteredRoomArray" value={{item}}>{{item.codeName}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
    </mat-step>

    <mat-step>
        <form>
            <mat-form-field appearance="fill" >
                <mat-label>Timeframe</mat-label>
                <mat-select>
                </mat-select>
              </mat-form-field>
        </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

